<script setup>
import { ref, onMounted } from "vue";

const isOpenModal = ref(false)
const name = ref('');
const cryptoSelect = ref([]);
const cryptosGuard = ref([]);
const listaCryptos = ref([]);

const getCryptos = async () => {
    const response = await axios.get('http://127.0.0.1:8000/api/lista-criptos')

    listaCryptos.value = response.data.data;
}

// Acredito que fazer um filter pelo javascript seja mais perfomatico, do que chamar novamente a api
const openModal = (id) => {
    isOpenModal.value = true;

    cryptoSelect.value = listaCryptos.value.filter(crypto => crypto.id === id)
}

const saveGroupWithCrypto = async () => {
    const request = {
        'name': name.value,
        'criptos': cryptosGuard.value
    }

    try {
        const response = await axios.post('http://127.0.0.1:8000/api/criar-grupo', request);
        if (response.status === 200) {
            window.location.href = `/grupos/${response.data.id}`;
        }
    } catch (e) {
        console.log(e)
    }
}

onMounted(() => {
    getCryptos()
})
</script>
<template>
    <div class="main">
        <div class="class_group">
            <label>Nome do seu Grupo</label>
            <input type="text" v-model="name" placeholder="Meu Grupo #1" />
            <small>clique no nome para ver os valores</small>
        </div>

        <div
            v-for="cryptos in listaCryptos"
            :key="cryptos.id"
        >
            <div class="class_checkbox">
                <input type="checkbox" v-model="cryptosGuard" :id="cryptos.id" :name="cryptos.name" :value="cryptos.id">
                <label @click="openModal(cryptos.id)">{{ cryptos.name }}</label>
            </div>
        </div>

        <button @click="saveGroupWithCrypto()">Salvar</button>
    </div>

    <div id="myModal" class="modal" :style="isOpenModal ? 'display: block' : 'display: none'">
        <div class="modal-content">
            <span class="close" @click="isOpenModal = false">&times;</span>
            <p>Nome: {{ cryptoSelect[0]?.name }}</p>
            <p>Market Cap: {{ cryptoSelect[0]?.market_cap }}</p>
            <p>Preço: {{ cryptoSelect[0]?.price }}</p>
            <p>Volume em 24h: {{ cryptoSelect[0]?.volume_24h }}</p>
            <p>Variaçao em 24h: {{ cryptoSelect[0]?.percent_change_24h }}</p>
        </div>
    </div>
</template>
<style>
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Consolas, sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.class_group {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.class_group label {
    font-size: 20px;
}
.class_group input {
    width: 200px;
    height: 38px;
    padding: 10px;
    font-size: 16px;
}
.class_checkbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.class_checkbox input{
    width: 18px;
    height: 18px;
}
button {
    width: 100px;
    height: 50px;
    margin: 20px auto;
    background: #00ADEF;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    pointer-events: auto;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 420px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>
