<script setup>
import { ref, onMounted } from "vue";

const cryptoByGroups = ref([]);

const urlParams = () => {
    const urlParams = new URLSearchParams(window.location.search);
    let groupId = urlParams.get('id');

    groupId = window.location.pathname.split('/').pop();

    getGroupCrypto(groupId);
}

const getGroupCrypto = async (id) => {
    const response = await axios.get(`http://127.0.0.1:8000/api/lista-grupo-criptos/${id}`);

    cryptoByGroups.value = response.data.data;
}

onMounted(() => {
    urlParams()
})
</script>
<template>
    <main>
        <h1>Grupos</h1>

        <span>Nome do Grupo: #{{ cryptoByGroups[0]?.id_group }} {{ cryptoByGroups[0]?.name_group }}</span>
        <div class="cripto">
            <div v-for="crypto in cryptoByGroups" :key="crypto.id" class="price">
                <p>name: {{ crypto?.criptos?.name }}</p>
                <p>Preço: {{ crypto?.criptos?.price }}</p>
                <p>Volume 24h: {{ crypto?.criptos?.volume_24h }}</p>
                <p>Variação 24h: {{ crypto?.criptos?.percent_change_24h }}</p>
                <p>Market Cap: {{ crypto?.criptos?.market_cap }}</p>
            </div>
        </div>
    </main>
</template>
<style>
main {
    padding: 20px;
}
span {
    margin: 20px 0;
}
.cripto label{
    font-size: 18px;
    margin: 20px 0;
}
.price {
    border-bottom: 1px solid #cecece;
    padding: 10px 0;
}
</style>
